<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ThymeLeaf Demo</title>
</head>
<body>
<form action="save" method="post">
    <h1>ThymeLeaf Demo</h1>
    <table>
        <tr>
            <td><label for="user-name">
                User Name
            </label></td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td><label for="email">
                Email
            </label></td>
            <td><input type="text" name="email"></td>
            <br/>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>